@import "tailwindcss" prefix(tw);
@import "./fonts.css";
@import "./utils.css";

@theme {
  /* color */
  --color-main: #000000;
  --color-primary-light: #f1f1f1;
  --color-primary-dark: #1d202e;
  --color-secondary-light: #152147;
  --color-secondary-dark: #1d202e;
  --color-mute: #9f9ffc;
  --color-background-light: #ffffff;
  --color-background-dark: #03020a;
  --color-success: #059212;
  --color-error: #bf092f;
  --color-warning: #ff6500;
  --color-info: #1581bf;
}

@custom-variant dark (&:where(.dark, .dark *));

html[dir="rtl"] .v-locale--is-rtl {
  direction: rtl !important;
}

/* vuetify overwrite */
.v-field__input {
  font-size: 14px !important;
}

.v-selection-control__input i {
  font-size: 20px !important;
}

.v-input input[type="radio"],
.v-input input[type="checkbox"] {
  appearance: auto !important;
  -webkit-appearance: auto !important;
}

/* swiper styles */
.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  border-radius: 999px !important;
  margin-inline: 3px !important;
  background-color: #1d202e !important;
}

.dark .swiper-pagination-bullet {
  background-color: white !important;
}
