@import "tailwindcss" prefix(tw);
@import "./fonts.css";
@import "./utils.css";


@theme {
  /* color */
  --color-main: #000000;
  --color-primary-light: #f1f1f1;
  --color-primary-dark: #1D202E;
  --color-secondary-light: #152147;
  --color-secondary-dark: #1D202E;
  --color-mute: #9f9ffc;
  --color-background-light: #ffffff;
  --color-background-dark: #03020A;
  --color-error: #bf092f;
}

@custom-variant dark (&:where(.dark, .dark *));

html[dir="rtl"] .v-locale--is-rtl {
  direction: rtl !important;
}

/* page transition */
.page-enter-active,
.page-leave-active {
  transition: all 0.3s ease;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: translateY(10px);
}

/* layout transition */
.layout-enter-active,
.layout-leave-active {
  transition: all 0.3s ease;
}

.layout-enter-from,
.layout-leave-to {
  opacity: 0;
  transform: scale(0.98);
}
