@layer utilities {
  /* when you wanna this class make sure the parent have tw:group class*/
  .tw-text-button {
    @apply tw:text-gray-700 tw:dark:text-gray-200 tw:group-hover:text-black tw:dark:group-hover:text-white;
  }

  .tw-main-text-color {
    @apply tw:text-gray-700 tw:dark:text-gray-200 tw:group-hover:text-black tw:dark:group-hover:text-white;
  }
}
